@page "/create"
<h3>AddProduct</h3>
@using MudBlazor
@using ViewModels
@inject BlazorApp1.Service.IBlazorService service
@inject NavigationManager navigate
@inject ISnackbar Snackbar

<EditForm Model="@newProduct" OnValidSubmit="AddNewProduct">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Product Name" HelperText="Product Name"
                                  @bind-Value="newProduct.Name" For="@(()=>newProduct.Name)" InputType="InputType.Text" />
                    <MudTextField HideSpinButtons="true" Label="Product Price" HelperText="Price"
                                  @bind-Value="newProduct.Price" For="@(()=>newProduct.Price)" InputType="InputType.Number" />
                    <MudTextField Label="Product Description" HelperText="Product Description"
                                  @bind-Value="newProduct.Description" For="@(()=>newProduct.Description)" InputType="InputType.Text" />

                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Add Product</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    private ProductVM newProduct = new ProductVM();
    private async Task AddNewProduct()
    {
        int productId = await service.Add(newProduct);
        navigate.NavigateTo("/products");
        Snackbar.Add("Product Created successfully.", Severity.Success);
    }
}
